@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
}

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'raleway' sans-serif;
    font-size: 4em;
    color: white;

    .parallax_wrapper {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;

        .intro_screen {
            height: 100vh;
            background-image: url("../img/imagen1.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            @include align-center;
        }
        .outro_screen {
            height: 100vh;
            background-image: url("../img/imagen4.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            @include align-center;
        }
        .parallax_group {
            position: relative;
            height: 100vh;
            transform-style: preserve-3d;
            
            .parallax_layer {
            position: absolute;
            inset: 0;
            @include align-center;
            }

            .base_layer {
            background-image: url("../img/imagen2.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            transform: translateZ(-300px) scale(3);
            }

            .mid_layer2 {
            background-image: url("../img/imagen3.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            transform: translateZ(0);
            }

            .top_layer {
            transform: translateZ(210px) scale(0.3);
            }
        }
        #intro {
            z-index: 0;
        }

        #group-1 {
            z-index: -1;
        }

        #group-1 > .base_layer {
            background-color: crimson;
        }

        #group-2 > .mid_layer {
            background-color: yellowgreen;
        }
    }
}

:root{
    --bg-color: #303134;
    --color-text: #ffffff;
    --box-shadow: 5px 5px 5px 0 rgb(32,33,36,1),
                -1px -1px 4px 0 rgb(32,33,36,1);
}
body{
    place-items: center;
    height: 100vh;
    background-color: var(--bg-color);
}
.container{
    width: 30%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px 0 rgb(32,33,36,1),
                -1px -1px 3px 0 rgb(32,33,36,1);
    border-radius: 1rem;
    text-align: center;
    color:var(--color-text);
    padding: 1rem;
    background-color: var(--bg-color);
    margin-top: 100px;
}
.color-hex-bga-hsl,
.btns *{
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: .5rem 1rem;
}
.color-hex-bga-hsl{
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 1.5rem;
    margin: 2rem 0 2rem 0;
}
.btns *{
    outline: none;
    border: none;
    color:var(--color-text);
    cursor: pointer;
    margin: 0 5px;
}
.card{
    margin-top:50px;
    width: 100%;
    display: flex;
    padding: 5px;
    flex: 25%;
}
.titulo1 {
    text-align: center;
    margin-top: 50px;
}
.titulo2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
.imgPalette1 {
    margin-left: 150px;
}
.imgPalette2 {
    margin-left: 150px;
    margin-top: 30px;
}
h1{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif ;
}
p{
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: normal; 
}
.imgText{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
}
.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: #000;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
@media screen and (max-width:750px) {
    .container{
        width: 90%;
    }
}